services:
  pg_database:
    image: postgres:14.19-alpine3.21
    container_name: pg_database
    restart: always
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DB}
    ports:
      - ${PG_PORT}:5432
    volumes:
      - ${PG_DIR}:/var/lib/postgresql/data:z

networks:
  default:
    name: ${NETWORK_NAME}
