services:
  # app:
  #   build: .
  #   container_name: app
  #   environment:
  #     PG_HOST: pg_database
  #     PG_USER: ${PG_USER}
  #     PG_PASSWORD: ${PG_PASSWORD}
  #     PG_DB: ${PG_DB}
  #     PG_PORT: ${PG_PORT}
  #   volumes:
  #     - ./app:/app:z
  #   command: sleep infinity
  #   depends_on:
  #     - pg_database

  pg_database:
    image: postgres:14.19-alpine3.21
    container_name: pg_database
    restart: always
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DB}
    ports:
      - ${PG_PORT}:5432
    volumes:
      - ${PG_DIR}:/var/lib/postgresql/data:z

  # pg_sgbd:
  #   image: dpage/pgadmin4:snapshot
  #   container_name: pg_sgbd
  #   restart: always
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
  #     PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
  #   ports:
  #     - ${PGADMIN_PORT}:80
  #   volumes:
  #     - ${PGADMIN_DIR}:/var/lib/pgadmin:z
  #   depends_on:
  #     - pg_database

networks:
  default:
    name: ${NETWORK_NAME}
